{% extends "site_base.html" %}
{%block content%}
<div style="overflow-x: hidden;">
<div class="row">
{% for obj in introductionOfMembers %}
<div class="card-deck justify-content-between p-sm-5 my-2 col-12 col-sm-6 col-lg-4" >
  <div class="card">
    <img class="card-img-top" src="{{obj.thumbnail.url}}" alt="Card image cap" width="100%">
    <div class="card-block">
      <h4 class="card-title justify-content-center d-flex">{{obj.name}}</h4>
      <p class="card-text" style="direction: rtl;">{{obj.context}}.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>
{% endfor %}
</div>
<div style="height: 10vh" class="seprator"></div>
{% for obj in aboutUs %}
 <div class="justify-content-between row  px-2 my-2" >
            <div class="col-3 align-self-center hidden-xs-down">
                              {% load static %} <img src="{% static 'lenguajes-programacion.png' %}" width="100%" />
            </div>
            <div class="col-12 justify-content-center hidden-sm-up mb-2" >
                              {% load static %} <img src="{% static 'The-Best-Programming-Language-to-Learn.png' %}" width="100%"  />
            </div>
            <div class="col-12 col-sm-6 justify-content-center d-flex align-self-center" style="direction: rtl;">
                                {{obj.context}}
            </div>
            <div class="col-3 align-self-center  hidden-xs-down">
                               {% load static %} <img src="{% static 'programmer.png' %}" width="100%" />
            </div>
        </div>
        {% endfor %}
        
{% endblock %}



