<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<body>
<div class="bg-inverse w-100 h-100 text-white d-flex justify-content-center" style="min-height: 100vh">

	<div class="row container d-flex justify-content-center align-self-center">
			<div class="mx-3">
				<a href="{% url 'lowSpeed' %}" class="btn btn-info p-5">نه بابا<small class="mx-1">بدون عکس و ویدیو</small></a>

	</div>
	<div class="mx-3 h-100">
		<a href="{% url 'home' %}" class="btn btn-info p-5 h-100">اینترنت پرسرعت دارم</a>
	</div>

	</div>
</div>

</body>
</html>