{% extends "site_base.html" %}
{%block content%}


<div>
        <div class="m-2">
  {% load static %} <img src="{% static 'Best-IoT-Prog-Languages-BLOG-IMAGE4.png' %}" width="100%" />
            </div>
            {% if contests %}

        <div class="container ">
            <table class="table table-responsive table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>problems</th>
            <th>judge'sData</th>
            <th>rankingPhoto</th>

    </tr>
  </thead>
  <tbody>
        {% for obj in contests %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{obj.date}}</td>
      <td><a href="{{obj.file.url}}" download="{{obj.file}}">{{obj.problems}}</a></td>
       <td><a href="{{obj.file.url}}" download="{{obj.file}}">{{obj.judgesData}}</a></td>
              <td><a href="{{obj.file.url}}" download="{{obj.file}}">{{obj.rankingPhoto}}</a></td>
              

    </tr>
                        {% endfor %}
  </tbody>
</table>
        </div>
        {% endif %}

        <div style="height: 10vh" class="seprator"></div>
       <div class="row">
{% for obj in acmContestsTeams %}
<div class="card-deck justify-content-between p-sm-5 my-2 col-12 col-sm-6 col-lg-4" >
  <div class="card">
    <img class="card-img-top" src="{{obj.thumbnail.url}}" alt="Card image cap" width="100%">
    <div class="card-block">
      <h4 class="card-title justify-content-center d-flex">{{obj.teamName}}</h4>
      <p class="card-text" style="direction: rtl;">{{obj.teamMembers}}.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted"></small>
    </div>
  </div>
</div>
{% endfor %}
</div>
    </div>


{% endblock %}