{% extends "site_base.html" %}
{%block content%}


<div class="justify-content-between row p-md-2">
  {% for obj in object_list %}
  <div class="col-sm-4 col-12 my-2">
    <a href="/contentsFiles/{{obj.yearSemester}}/">
  <div class="card card-inverse ">
 {% load static %} 
  {% if forloop.counter|divisibleby:'3' %}
<img src="{% static 'code.jpg'%}" width="100%" style="  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);"/>
{% elif forloop.counter|divisibleby:'2' %}
<img src="{% static 'programing-coding-languages.jpg' %}" width="100%" style="  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);"/>
{% else %}
<img src="{% static 'html-programming.jpg' %}" width="100%" style="  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);"/>
{% endif %}  <div class="card-img-overlay  justify-content-center row">
    <h1 class="card-title d-flex align-self-center">{{obj}}</h1>
  </div>
</div>
</a>
</div>
{% endfor %}
</div>



{% endblock %}