{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}



<!-- Nav tabs -->
<div class="justify-content-center d-flex  my-5" id="review">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#reviewS9" role="tab">Galaxy s9</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reviewS9+" role="tab">Galaxy s9+</a>
  </li>

</ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active fade show" id="reviewS9" role="tabpanel"><div class="container my-5">
	<div class="text-right"><p>
		پس از اتفاقاتی که برای گلکسی نوت 7 رخ داد، صحبت از این به میان آمد که سامسونگ برند نوت را کنار خواهد گذاشت؛ ولی حالا گلکسی نوت 8 با طراحی و ویژگی‌های بهتر بازگشته تا یک بار دیگر شکوه سری نوت را احیا کند. اگر جزو طرفداران گوشی‌های بزرگ باشید، بدون شک گلکسی نوت 8 یکی از بهترین گوشی‌هایی است که می‌توانید بخرید؛ ولی با درنظرگرفتن قیمت بالای آن شاید اندکی تردید کنید؛ به‌ویژه با توجه به قیمت کمتر گلکسی اس 8 که به نظر می‌رسد از بسیاری جهات تفاوت زیادی با نوت 8 نداشته باشد. آیا نوت 8 ارزش پرداختن هزینه‌ی بیشتر را دارد؟ برای پاسخ دادن به این سوال باید این گوشی را با دقت بیشتری بررسی کنیم.
	</p></div>
	<div class="row my-5">
				<div class="col-12 col-md-6 align-self-center justify-content-center d-flex">
			{% load static %}  <img src="{% static 'galaxy-s8_gallery_front_maplegold_s4.png' %}" style="max-width: 100%;height:auto;" class="align-self-center" />
		</div>
		<div class="col-12 col-md-6 align-self-center text-right">
	<p>
همه‌چیز در گلکسی نوت 8 از صفحه‌نمایش بزرگ و خیره‌کننده‌ی 6.3 اینچی آن شروع می‌شود. گلکسی نوت 8، از صفحه‌نمایش بدون مرز (infinity display) جدیدی استفاده می‌کند که اولین بار در گلکسی اس 8 و اس 8 پلاس دیده بودیم. البته انحنای لبه‌های اج صفحه‌نمایش در نوت 8 کمتر شده، تا فضای بیشتری برای کار با قلم S-Pen وجود داشته باشد. صفحه‌نمایش نوت 8، تنها 0.1 اینچ از صفحه‌نمایش اس 8 پلاس بزرگ‌تر است؛ ولی انحنای کمتر لبه‌ها باعث می‌شود حس کنید فضای بسیار بیشتری در اختیار دارید. به دلیل انحنای کمتر لبه‌های اج، نوت 8 نسبت به اس 8 ظاهری مستطیلی‌تر پیدا کرده است. به نظر ما اس 8 پلاس گوشی زیباتری است؛ ولی اگر با لبه‌های اج سامسونگ میانه‌ی خوبی نداشته باشید، احتمالا با نوت 8 راحت‌تر خواهید بود.
			</p>
			<a class="btn btn-info" href="/reviewS9"> ادامه</a>
		</div>

	</div>
</div></div>
  <div class="tab-pane fade" id="reviewS9+" role="tabpanel">
<div class="tab-pane active" id="home" role="tabpanel"><div class="container my-5">
	<div class="text-right">
		
		<p>
گلکسی اس 8 با رکورد 1000 نیتس یکی از روشن‌ترین نمایشگرها را در بین گوشی‌های حال حاضر دارد؛ با این حال صفحه‌نمایش گلکسی نوت 8 حتی پا را از این هم فراتر گذاشته و 22درصد روشن‌تر شده است. با این میزان روشنایی، هیچ مشکلی برای کارکردن با نوت 8 زیر آفتاب مستقیم نخواهید داشت. ولی پیشنهاد می‌کنیم در یک اتاق تاریک، هرگز میزان روشنایی صفحه‌نمایش را روی ماکزیمم تنظیم نکنید؛ چراکه ممکن است به چشمانتان آسیب بزنید!
		</p></div>
	<div class="row my-5">
			<div class="col-12 col-md-6 align-self-center justify-content-center d-flex">
			{% load static %}  <img src="{% static 'galaxy-s8_gallery_front_black_s4.png' %}" style="max-width: 100%;height:auto;" class="align-self-center" />
		</div>
		<div class="col-12 col-md-6 align-self-center text-right">
<p>
هگلکسی نوت 8 گوشی بزرگی است. در مقایسه با آیفون 7 پلاس، نوت 8 اندکی باریک‌تر و بلندتر است. البته وقتی صفحه‌نمایش بسیار بزرگ 6.3 اینچی آن را در نظر بگیریم، این ابعاد کاملا بخشودنی به نظر می‌رسند. تنها چیزی که بخشودنی نیست، جای بد حسگر اثرانگشت است. سامسونگ با قراردادن مجموعه‌ی فلش و سنسورها میان حسگر اثرانگشت و دوربین‌ها، تا حدی مشکل لکه‌شدن لنز دوربین را در اثر تماس اشتباهی انگشت کاهش داده، ولی اندازه‌ی بزرگ نوت 8 استفاده از این حسگر را کاملا دشوار می‌کند. البته به‌عنوان راه‌حل جایگزین می‌توانید روی اسکنر عنبیه و تشخیص چهره حساب باز کنید.
	</p>
					<a class="btn btn-info" href='{% url "reviews9plus" %}'> ادامه</a>
</div>
	
	</div>
</div>
  </div>
</div>

</div>
<div class="col-12"><hr>
</div>
<div class="justify-content-center d-flex" id="buy">
	<h2>پیشنهاد ویژه پیش خرید</h2>
</div>
<div class="justify-content-center d-flex  my-5">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#buys9" role="tab">Galaxy s9+</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#buys9+" role="tab">Galaxy s9</a>
  </li>

</ul>
</div>


<div class="tab-content">
  <div class="tab-pane active  fade show" id="buys9" role="tabpanel"><div class="container">
	<div>
		    <div class="card-deck mt-5 mx-2">

                    <div class="col-12 col-lg-4 my-1">

                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static '1503577798_6gb-galaxy-s8-gets-a-decent-price-cut-in-india-ahead-of-note-8-launch-768x576.jpg' %}" style="width: 100%; height: auto"
                                    alt="">

                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9+</h4>
                                    <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                    <p class="card-text">
                                        ...شارژر رایگان
                                    </p>

                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted">  <a href='{% url "buyS9Plus" %}' class="btn btn-info">ادامه</a>
</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 my-1">
                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static 'maxresdefault-1-2.jpg' %}" style="width: 100%; height: auto"
                                    alt="">
                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9+
                                    </h4>
                                    <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                        ...شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer  text-center">
                                <small class="text-muted "><a href='{% url "buyS9Plus" %}' class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 my-1">
                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static '1490800292_3823072407395.jpg' %}" style="width: 100%; height: auto"
                                    alt="">
                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9+</h4>
                                            <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                       ... شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted"><a href='{% url "buyS9Plus" %}' class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                </div>
	</div>
</div></div>
  <div class="tab-pane fade" id="buys9+" role="tabpanel"><div class="container">
	<div>
		    <div class="card-deck mt-5 mx-2">

                    <div class="col-12 col-lg-4 my-1">

                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static '1491059009_7292146954686.jpg' %}" style="width: 100%; height: auto"
                                    alt="">

                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9</h4>
                                            <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                        ...شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted"><a href='{% url "buyS9" %}' class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 my-1">
                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static 'free-psd-samsung-galaxy-s8-mockup-l5.png' %}" style="width: 100%; height: auto"
                                    alt="">
                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9
                                    </h4>
                                           <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                       ... شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted"><a href='{% url "buyS9" %}' class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 my-1">
                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static 'samsung-galaxy-s8-accessories-feature-image.jpg' %}" style="width: 100%; height: auto"
                                    alt="">
                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9</h4>
                                           <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                       ... شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted"><a href='{% url "buyS9" %}'	 class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                </div>
	</div>
</div></div>
</div>
<div class="col-12"><hr>
<div class="justify-content-center d-flex" id="images">


  	 <div class="demo">
                    <ul id="light-slider" class="d-flex justify-content-between h-100">

                        <li class="d-flex justify-content-center align-self-center bg"><a rel="nofollow" href="{% static 'samsung-galaxy-s8-accessories-feature-image.jpg' %}" class=" align-self-center bg-danger" target="_blank">
      <img class="d-block img-fluid" src="{% static 'samsung-galaxy-s8-accessories-feature-image.jpg' %}"   alt="First slide" style="   width: 100%;
    height: auto;">                        </a></li>

                       
                        
                     <li class="d-flex justify-content-center align-self-center"><a rel="nofollow" href="{% static 'maxresdefault-1-2.jpg' %}" class="" target="_blank">
      <img class="d-block img-fluid" src="{% static 'maxresdefault-1-2.jpg' %}"   alt="First slide" style="   width: 100%;
    height: auto;">                        </a></li> <li class="d-flex justify-content-center align-self-center"><a rel="nofollow" href="{% static '1503577798_6gb-galaxy-s8-gets-a-decent-price-cut-in-india-ahead-of-note-8-launch-768x576.jpg' %}" class="" target="_blank">
      <img class="d-block img-fluid" src="{% static '1503577798_6gb-galaxy-s8-gets-a-decent-price-cut-in-india-ahead-of-note-8-launch-768x576.jpg' %}"   alt="First slide" style="   width: 100%;
    height: auto;">                        </a></li> <li class="d-flex justify-content-center align-self-center"><a rel="nofollow" href="{% static '1490800292_3823072407395.jpg' %}" class="" target="_blank">
      <img class="d-block img-fluid" src="{% static '1490800292_3823072407395.jpg' %}"   alt="First slide" style="   width: 100%;
    height: auto;">                        </a></li> <li class="d-flex justify-content-center align-self-center"><a rel="nofollow" href="{% static '1491059009_7292146954686.jpg' %}" class="" target="_blank">
      <img class="d-block img-fluid" src="{% static '1491059009_7292146954686.jpg' %}"   alt="First slide" style="   width: 100%;
    height: auto;">                        </a></li>   


                    </ul>
                </div>
  </div>

  

 

	<div class="col-12"><hr>

<div class="container my-5" id="details">

<div class="justify-content-center d-flex row">

<div class="col-12 col-md-6"> 

<a href='{% url "Detailss9" %}' class="mx-2">
<figure class="snip1111 blue"> <img class="card-img" src="{% static 'maxresdefault-1-2.jpg' %}" width="100%" alt="Card image">
  <figcaption class="row d-flex justify-content-center">
    <h3 class="w-100 text-center">galaxy  <span> s9 </span></h3>
    <p class="text-center align-self-center "><h3 class=" font-weight-bold text-center">برای دیدن مشخصات کلیک کنید<h3></p>
    
  </figcaption>
</figure></a>
</div>
<div class="col-12 col-md-6"> 
<a href='{% url "Details9plus" %}' class="mx-2">
<figure class="snip1111 blue"> <img class="card-img" src="{% static 'samsung-galaxy-s8-accessories-feature-image.jpg' %}" width="100%" alt="Card image">
  <figcaption class="row d-flex justify-content-center">
    <h3  class="w-100 text-center">galaxy  <span> s9+</span></h3>
    <p class="text-center align-self-center "><h3 class=" font-weight-bold text-center">برای دیدن مشخصات کلیک کنید<h3></p>
    
  </figcaption>
</figure></a>
</div>
</div>
</div>

<div class="col-12"><hr>

	<div class="my-5 container" id="about">
		<div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-4 my-2">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'email.png' %}" runat="server" alt=" "
                                style="max-width: 128px; height: auto;" />
                        </div>
                        <div class="py-3 d-flex justify-content-center">
                            info@mtplus.mobi                      
                        </div>
                    </div>
                    <div class="col-12 col-md-4 my-2">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'maps-and-flags.png' %}" runat="server" alt="" style="max-width: 128px; height: auto;" />

                        </div>
                        <div class="py-3 d-flex justify-content-center">
                           تهران - بلوار آفریقا - کوچه ایرج - پلاک 8
                        </div>
                   
                    </div>
                    <div class="col-12 col-md-4 my-2">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'mobile-phone.png' %}" runat="server" alt="" style="max-width: 128px; height: auto;" />
                        </div>
                        <div class="py-3 d-flex justify-content-center">
                            تلفن : 84220-021
                        </div>
                    </div>

                </div>
                <div class="row my-5">
                	<div class="col-md-6 col-12 d-flex justify-content-center align-self-center">  <img src="{% static 'logo.png' %}" runat="server" alt="" style="height: auto;" />
</div>
                	<div class="col-md-6 col-12 text-right align-self-center">درباره مایکروتل پلاس

مایکروتل پلاس، قطب توانمند شرکت پارس مایکروتل، تاثیرگذارترین مجموعه زنجیره ای در بازار موبایل و تبلت ایران است. مایکروتل پلاس با دارا بودن فروشگاه های مدرن در سراسر ایران، به عنوان اولین و بزرگترین شرکت زنجیره ای عرضه کننده تلفن های هوشمند و تبلت با گارانتی پارس مایکروتل در کشور شناخته می شود 
<br>
<a href='{% url "mtplus" %}' class="btn btn-info my-2">ادامه</a>
</div>

                </div>
	</div></div>
 
{% endblock %}

{% block script %}
 <script type="text/javascript">$("#light-slider").lightSlider({
    item: 2,
    loop: true,
    pager: false,
    responsive: [{
        breakpoint: 600,
        settings: {
            item: 1
        }
    }]
});
</script>
    <script>
        $(document).ready(function () {
            $('.link').on('click', function (e) {
                e.preventDefault();

                var target = this.hash,
                    $target = $(target);
var clientHeight = document.getElementById('Menu').clientHeight;
                $('html, body').stop().animate({
         
                    'scrollTop': $target.offset().top- clientHeight
                }, 1000, 'swing', function () {
                    window.location.hash = '1' + target;
                });
            });
        });
    </script>
    {% endblock %}
{% block aboutUsLink %}

                                    <a href="#about" class="link text-white mx-1">مایکروتل</a>
                                    <div class="dropdown mx-2">
  <a href="#images" class="dropbtn text-white link  mx-1">تصاویر</a>
</div>
{% endblock %}



{% block style %}
<style type="text/css">
  .carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
    transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

.demo ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.demo li {
    display: block;
    float: left;
    margin: 0;
    width: 100%;
}

.demo img {
    display: block;
    width: 100%;
}

.demo {
    margin: 0 auto;
    overflow: hidden;
}

.demo li img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}/*! lightslider - v1.1.5 - 2015-10-31
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/*! lightslider - v1.1.3 - 2015-04-14
* https://github.com/sachinchoolur/lightslider
* Copyright (c) 2015 Sachin N; Licensed MIT */
/** /!!! core css Should not edit !!!/**/ 

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
/** /!!! End of core css Should not edit !!!/**/

/* Pager */
.lSSlideOuter .lSPager.lSpg {
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
}
.lSSlideOuter .lSPager.lSpg > li {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;
}
.lSSlideOuter .lSPager.lSpg > li a {
    background-color: #222222;
    border-radius: 30px;
    display: inline-block;
    height: 8px;
    overflow: hidden;
    text-indent: -999em;
    width: 8px;
    position: relative;
    z-index: 99;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}
.lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a {
    background-color: #428bca;
}
.lSSlideOuter .media {
    opacity: 0.8;
}
.lSSlideOuter .media.active {
    opacity: 1;
}
/* End of pager */

/** Gallery */
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 5px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
/* End of Gallery*/

/* slider actions */
.lSAction > a {
    width: 32px;
    display: block;
    top: 50%;
    height: 32px;
    background-image: url('https://sachinchoolur.github.io/lightslider/dist/img/controls.png');
    cursor: pointer;
    position: absolute;
    z-index: 99;
    margin-top: -16px;
    opacity: 0.5;
    -webkit-transition: opacity 0.35s linear 0s;
    transition: opacity 0.35s linear 0s;
}
.lSAction > a:hover {
    opacity: 1;
}
.lSAction > .lSPrev {
    background-position: 0 0;
    left: 10px;
}
.lSAction > .lSNext {
    background-position: -32px 0;
    right: 10px;
}
.lSAction > a.disabled {
    pointer-events: none;
}
.cS-hidden {
    height: 1px;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
}


/* vertical */
.lSSlideOuter.vertical {
    position: relative;
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    right: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}

/* vertical controlls */
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
/* vertical */


/* Rtl */
.lSSlideOuter.lSrtl {
    direction: rtl;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left;
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
/* Rtl */

@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
/*/  GRab cursor */
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
</style>
{% endblock %}