{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}



<!-- Nav tabs -->
<div class="justify-content-center d-flex  my-5" id="review">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#reviewS9" role="tab">Galaxy s9</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reviewS9+" role="tab">Galaxy s9+</a>
  </li>

</ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active fade show" id="reviewS9" role="tabpanel"><div class="container my-5">
	<div class="text-right"><p>
		پس از اتفاقاتی که برای گلکسی نوت 7 رخ داد، صحبت از این به میان آمد که سامسونگ برند نوت را کنار خواهد گذاشت؛ ولی حالا گلکسی نوت 8 با طراحی و ویژگی‌های بهتر بازگشته تا یک بار دیگر شکوه سری نوت را احیا کند. اگر جزو طرفداران گوشی‌های بزرگ باشید، بدون شک گلکسی نوت 8 یکی از بهترین گوشی‌هایی است که می‌توانید بخرید؛ ولی با درنظرگرفتن قیمت بالای آن شاید اندکی تردید کنید؛ به‌ویژه با توجه به قیمت کمتر گلکسی اس 8 که به نظر می‌رسد از بسیاری جهات تفاوت زیادی با نوت 8 نداشته باشد. آیا نوت 8 ارزش پرداختن هزینه‌ی بیشتر را دارد؟ برای پاسخ دادن به این سوال باید این گوشی را با دقت بیشتری بررسی کنیم.
	</p></div>
	<div class="row my-5">
				<div class="col-12 col-md-6 align-self-center justify-content-center d-flex">
			{% load static %}  <img src="{% static 'galaxy-s8_gallery_front_maplegold_s4.png' %}" style="max-width: 100%;height:auto;" class="align-self-center" />
		</div>
		<div class="col-12 col-md-6 align-self-center text-right">
	<p>
همه‌چیز در گلکسی نوت 8 از صفحه‌نمایش بزرگ و خیره‌کننده‌ی 6.3 اینچی آن شروع می‌شود. گلکسی نوت 8، از صفحه‌نمایش بدون مرز (infinity display) جدیدی استفاده می‌کند که اولین بار در گلکسی اس 8 و اس 8 پلاس دیده بودیم. البته انحنای لبه‌های اج صفحه‌نمایش در نوت 8 کمتر شده، تا فضای بیشتری برای کار با قلم S-Pen وجود داشته باشد. صفحه‌نمایش نوت 8، تنها 0.1 اینچ از صفحه‌نمایش اس 8 پلاس بزرگ‌تر است؛ ولی انحنای کمتر لبه‌ها باعث می‌شود حس کنید فضای بسیار بیشتری در اختیار دارید. به دلیل انحنای کمتر لبه‌های اج، نوت 8 نسبت به اس 8 ظاهری مستطیلی‌تر پیدا کرده است. به نظر ما اس 8 پلاس گوشی زیباتری است؛ ولی اگر با لبه‌های اج سامسونگ میانه‌ی خوبی نداشته باشید، احتمالا با نوت 8 راحت‌تر خواهید بود.
			</p>
			<a class="btn btn-info" href="/reviewS9"> ادامه</a>
		</div>

	</div>
</div></div>
  <div class="tab-pane fade" id="reviewS9+" role="tabpanel">
<div class="tab-pane active" id="home" role="tabpanel"><div class="container my-5">
	<div class="text-right">
		
		<p>
گلکسی اس 8 با رکورد 1000 نیتس یکی از روشن‌ترین نمایشگرها را در بین گوشی‌های حال حاضر دارد؛ با این حال صفحه‌نمایش گلکسی نوت 8 حتی پا را از این هم فراتر گذاشته و 22درصد روشن‌تر شده است. با این میزان روشنایی، هیچ مشکلی برای کارکردن با نوت 8 زیر آفتاب مستقیم نخواهید داشت. ولی پیشنهاد می‌کنیم در یک اتاق تاریک، هرگز میزان روشنایی صفحه‌نمایش را روی ماکزیمم تنظیم نکنید؛ چراکه ممکن است به چشمانتان آسیب بزنید!
		</p></div>
	<div class="row my-5">
			<div class="col-12 col-md-6 align-self-center justify-content-center d-flex">
			{% load static %}  <img src="{% static 'galaxy-s8_gallery_front_black_s4.png' %}" style="max-width: 100%;height:auto;" class="align-self-center" />
		</div>
		<div class="col-12 col-md-6 align-self-center text-right">
<p>
هگلکسی نوت 8 گوشی بزرگی است. در مقایسه با آیفون 7 پلاس، نوت 8 اندکی باریک‌تر و بلندتر است. البته وقتی صفحه‌نمایش بسیار بزرگ 6.3 اینچی آن را در نظر بگیریم، این ابعاد کاملا بخشودنی به نظر می‌رسند. تنها چیزی که بخشودنی نیست، جای بد حسگر اثرانگشت است. سامسونگ با قراردادن مجموعه‌ی فلش و سنسورها میان حسگر اثرانگشت و دوربین‌ها، تا حدی مشکل لکه‌شدن لنز دوربین را در اثر تماس اشتباهی انگشت کاهش داده، ولی اندازه‌ی بزرگ نوت 8 استفاده از این حسگر را کاملا دشوار می‌کند. البته به‌عنوان راه‌حل جایگزین می‌توانید روی اسکنر عنبیه و تشخیص چهره حساب باز کنید.
	</p>
					<a class="btn btn-info" href='{% url "reviews9plus" %}'> ادامه</a>
</div>
	
	</div>
</div>
  </div>
</div>

</div>
<div class="col-12"><hr>
</div>
<div class="justify-content-center d-flex" id="buy">
	<h2>پیشنهاد ویژه پیش خرید</h2>
</div>
<div class="justify-content-center d-flex  my-5">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#buys9" role="tab">Galaxy s9+</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#buys9+" role="tab">Galaxy s9</a>
  </li>

</ul>
</div>


<div class="tab-content">
  <div class="tab-pane active  fade show" id="buys9" role="tabpanel"><div class="container">
	<div>
		    <div class="card-deck mt-5 mx-2">

                    <div class="col-12 col-lg-4 my-1">

                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static '1503577798_6gb-galaxy-s8-gets-a-decent-price-cut-in-india-ahead-of-note-8-launch-768x576.jpg' %}" style="width: 100%; height: auto"
                                    alt="">

                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9+</h4>
                                    <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                    <p class="card-text">
                                        ...شارژر رایگان
                                    </p>

                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted">  <a href='{% url "buyS9Plus" %}' class="btn btn-info">ادامه</a>
</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 my-1">
                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static 'maxresdefault-1-2.jpg' %}" style="width: 100%; height: auto"
                                    alt="">
                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9+
                                    </h4>
                                    <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                        ...شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer  text-center">
                                <small class="text-muted "><a href='{% url "buyS9Plus" %}' class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 my-1">
                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static '1490800292_3823072407395.jpg' %}" style="width: 100%; height: auto"
                                    alt="">
                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9+</h4>
                                            <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                       ... شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted"><a href='{% url "buyS9Plus" %}' class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                </div>
	</div>
</div></div>
  <div class="tab-pane fade" id="buys9+" role="tabpanel"><div class="container">
	<div>
		    <div class="card-deck mt-5 mx-2">

                    <div class="col-12 col-lg-4 my-1">

                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static '1491059009_7292146954686.jpg' %}" style="width: 100%; height: auto"
                                    alt="">

                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9</h4>
                                            <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                        ...شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted"><a href='{% url "buyS9" %}' class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 my-1">
                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static 'free-psd-samsung-galaxy-s8-mockup-l5.png' %}" style="width: 100%; height: auto"
                                    alt="">
                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9
                                    </h4>
                                           <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                       ... شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted"><a href='{% url "buyS9" %}' class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 my-1">
                        <div class="card h-100">
                            <a class="h-100">
                                <img class="card-img-top img-fluid" src="{% static 'samsung-galaxy-s8-accessories-feature-image.jpg' %}" style="width: 100%; height: auto"
                                    alt="">
                                <div class="card-block text-right">
                                    <h4 class="card-title">Galaxy s9</h4>
                                           <p class="card-text">
                                       پیشنهاد خرید ویژه 
                                    </p>
                                     <p class="card-text">
                                       ... شارژر رایگان
                                    </p>
                                </div>
                            </a>
                            <div class="card-footer text-center">
                                <small class="text-muted"><a href='{% url "buyS9" %}'	 class="btn btn-info">ادامه</a></small>
                            </div>
                        </div>
                    </div>
                </div>
	</div>
</div></div>
</div>
<div class="col-12"><hr>
<div class="justify-content-center d-flex  my-5" id="images">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#ImageS9" role="tab">Galaxy s9+</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#ImageS9+" role="tab">Galaxy s9</a>
  </li>

</ul>
</div>



<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active fade show" id="ImageS9" role="tabpanel">
  	<div class="justify-content-center d-flex">
  	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="{% static '1503577798_6gb-galaxy-s8-gets-a-decent-price-cut-in-india-ahead-of-note-8-launch-768x576.jpg' %}"  alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="{% static 'maxresdefault-1-2.jpg' %}"  alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="{% static 'samsung-galaxy-s8-accessories-feature-image.jpg' %}"  alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div></div>
  <div class="tab-pane fade" id="ImageS9+" role="tabpanel"><div class="justify-content-center d-flex">
  	<div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="{% static '1490800292_3823072407395.jpg' %}"  alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="{% static '1491059009_7292146954686.jpg' %}"  alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="{% static 'samsung-galaxy-s8-accessories-feature-image.jpg' %}"  alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></div></div>
</div>
</ul>



	<div class="col-12"><hr>

<div class="container my-5" id="details">

<div class="justify-content-center d-flex">
	<a href='{% url "Detailss9" %}' class="mx-2">
<figure class="snip1111">  <img class="card-img" src="{% static 'maxresdefault-1-2.jpg' %}" width="100%" alt="Card image">

  <figcaption>
    <h3>galaxy  <span> s9</span></h3>
    <p class="text-right hidden-md-down">برای دیدن مشخصات کلیک کنید</p>
  </figcaption>
</figure>
</a>
<a href='{% url "Details9plus" %}' class="mx-2">
<figure class="snip1111 blue"> <img class="card-img" src="{% static 'samsung-galaxy-s8-accessories-feature-image.jpg' %}" width="100%" alt="Card image">
  <figcaption>
    <h3>galaxy  <span> s9+</span></h3>
    <p class="text-right hidden-md-down">برای دیدن مشخصات کلیک کنید</p>
    
  </figcaption>
</figure></a>
</div>
</div>

<div class="col-12"><hr>

	<div class="my-5 container" id="about">
		<div class="row d-flex justify-content-center">
                    <div class="col-12 col-md-4 my-2">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'email.png' %}" runat="server" alt=" "
                                style="max-width: 128px; height: auto;" />
                        </div>
                        <div class="py-3 d-flex justify-content-center">
                            info@mtplus.mobi                      
                        </div>
                    </div>
                    <div class="col-12 col-md-4 my-2">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'maps-and-flags.png' %}" runat="server" alt="" style="max-width: 128px; height: auto;" />

                        </div>
                        <div class="py-3 d-flex justify-content-center">
                           تهران - بلوار آفریقا - کوچه ایرج - پلاک 8
                        </div>
                   
                    </div>
                    <div class="col-12 col-md-4 my-2">
                        <div class="d-flex justify-content-center">
                            <img src="{% static 'mobile-phone.png' %}" runat="server" alt="" style="max-width: 128px; height: auto;" />
                        </div>
                        <div class="py-3 d-flex justify-content-center">
                            تلفن : 84220-021
                        </div>
                    </div>

                </div>
                <div class="row my-5">
                	<div class="col-md-6 col-12 d-flex justify-content-center align-self-center">  <img src="{% static 'logo.png' %}" runat="server" alt="" style="height: auto;" />
</div>
                	<div class="col-md-6 col-12 text-right align-self-center">درباره مایکروتل پلاس

مایکروتل پلاس، قطب توانمند شرکت پارس مایکروتل، تاثیرگذارترین مجموعه زنجیره ای در بازار موبایل و تبلت ایران است. مایکروتل پلاس با دارا بودن فروشگاه های مدرن در سراسر ایران، به عنوان اولین و بزرگترین شرکت زنجیره ای عرضه کننده تلفن های هوشمند و تبلت با گارانتی پارس مایکروتل در کشور شناخته می شود 
<br>
<a href='{% url "mtplus" %}' class="btn btn-info my-2">ادامه</a>
</div>

                </div>
	</div></div>
<script type="text/javascript">
$('#myTab a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})

  /* Demo purposes only */
  $("figure").mouseleave(
    function() {
      $(this).removeClass("hover");
    }
  );
</script>  
{% endblock %}

{% block script %}

    <script>
        $(document).ready(function () {
            $('.link').on('click', function (e) {
                e.preventDefault();

                var target = this.hash,
                    $target = $(target);
var clientHeight = document.getElementById('Menu').clientHeight;
                $('html, body').stop().animate({
         
                    'scrollTop': $target.offset().top- clientHeight
                }, 1000, 'swing', function () {
                    window.location.hash = '1' + target;
                });
            });
        });
    </script>
    {% endblock %}
{% block aboutUsLink %}

                                    <a href="#about" class="link text-white">مایکروتل</a>
{% endblock %}