{% extends "baseLowSpeed.html" %}
{% block content %}
<div class="bg-inverse w-100 h-100 text-white" style="min-height: 100vh">
<!-- Nav tabs -->
<div class="d-flex justify-content-center p-5">
<ul class="nav nav-tabs  my-5" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#microtel" role="tab">مایکروتل</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#buy" role="tab">پیش خرید</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#review" role="tab">نقد و بررسی</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#details" role="tab">مشخصات فنی</a>
  </li>
</ul>
</div>
<!-- Tab panes -->
<div class="  d-flex justify-content-center"">
<div class="tab-content">
  <div class="tab-pane active show fade" id="microtel" role="tabpanel">
  	<p class="text-center container">
  	درباره مایکروتل پلاس مایکروتل پلاس، قطب توانمند شرکت پارس مایکروتل، تاثیرگذارترین مجموعه زنجیره ای در بازار موبایل و تبلت ایران است. مایکروتل پلاس با دارا بودن فروشگاه های مدرن در سراسر ایران، به عنوان اولین و بزرگترین شرکت زنجیره ای عرضه کننده تلفن های هوشمند و تبلت با گارانتی پارس مایکروتل در کشور شناخته می شود 
  	<br>
  	<a href="{% url 'mtpluslowSpeed' %}" class="btn btn-info my-3">ادامه</a>
</p>

  </div>
  <div class="tab-pane fade" id="buy" role="tabpanel">



<div class="d-flex justify-content-center">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#buys9" role="tab">S9+</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#buys9Plus" role="tab">s9</a>
  </li>

</ul>
</div>
<!-- Tab panes -->
<div class="tab-content " id="buytabContent">
  <div class="tab-pane active" id="buys9" role="tabpanel">
    <div class="d-flex justify-content-center">  با پیش خرید محصول از امکانات زیر بهره مند شوید</div>
   <nav class="shift d-flex justify-content-center">
    <ul>
      <li><a href="#">شارژر رایگان</a></li>
      <li><a href="#">هدفون</a></li>
      <li><a href="#">کیف</a></li>
      <li><a href="#">قاب</a></li>
      <li><a href="#">سیم کارت</a></li>
    </ul>
     

  </nav>
  </div>
  <div class="tab-pane" id="buys9Plus" role="tabpanel">
<div class="d-flex justify-content-center">  با پیش خرید محصول از امکانات زیر بهره مند شوید</div>
    <nav class="circle">
    <ul>
      <li><a href="#"> هدفون</a></li>
      <li><a href="#">سیم کارت</a></li>
      <li><a href="#">قاب</a></li>
      <li><a href="#"> کیف</a></li>
      <li><a href="#"> شارژر رایگان</a></li>
    </ul>
     <div class="d-flex justify-content-center">
      <a href="{% url 'buyS9PlusLowSpeed' %}" class="btn-info btn"> ادامه</a></div>

  </nav>
  </div>
</div>



























  </div>
  <div class="tab-pane fade" id="review" role="tabpanel">
    

<div class="d-flex justify-content-center">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#reviewS9" role="tab">S9+</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#reviewS9Pluse" role="tab">s9</a>
  </li>

</ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="reviewS9" role="tabpanel">
    <div class="d-flex justify-content-center container text-center">  گلکسی اس 8 با رکورد 1000 نیتس یکی از روشن‌ترین نمایشگرها را در بین گوشی‌های حال حاضر دارد؛ با این حال صفحه‌نمایش گلکسی نوت 8 حتی پا را از این هم فراتر گذاشته و 22درصد روشن‌تر شده است. با این میزان روشنایی، هیچ مشکلی برای کارکردن با نوت 8 زیر آفتاب مستقیم نخواهید داشت. ولی پیشنهاد می‌کنیم در یک اتاق تاریک، هرگز میزان روشنایی صفحه‌نمایش را روی ماکزیمم تنظیم نکنید؛ چراکه ممکن است به چشمانتان آسیب بزنید!

</div>
   
         <div class="d-flex justify-content-center mt-3">
          <a href="{% url 'reviews9LowSpeed' %}" class="btn-info btn"> ادامه</a></div>

  </nav>
  </div>
  <div class="tab-pane" id="reviewS9Pluse" role="tabpanel">
<div class="d-flex justify-content-center container text-center">  پس از اتفاقاتی که برای گلکسی نوت 7 رخ داد، صحبت از این به میان آمد که سامسونگ برند نوت را کنار خواهد گذاشت؛ ولی حالا گلکسی نوت 8 با طراحی و ویژگی‌های بهتر بازگشته تا یک بار دیگر شکوه سری نوت را احیا کند. اگر جزو طرفداران گوشی‌های بزرگ باشید، بدون شک گلکسی نوت 8 یکی از بهترین گوشی‌هایی است که می‌توانید بخرید؛ ولی با درنظرگرفتن قیمت بالای آن شاید اندکی تردید کنید؛ به‌ویژه با توجه به قیمت کمتر گلکسی اس 8 که به نظر می‌رسد از بسیاری جهات تفاوت زیادی با نوت 8 نداشته باشد. آیا نوت 8 ارزش پرداختن هزینه‌ی بیشتر را دارد؟ برای پاسخ دادن به این سوال باید این گوشی را با دقت بیشتری بررسی کنیم.
</div>
        <div class="d-flex justify-content-center mt-3">
          <a href="{% url 'reviews9plusLowSpeed' %}" class="btn-info btn"> ادامه</a></div>
  </div>
<div class="d-flex justify-content-center container">
  
</div>
</div>
  </div>
  <div class="tab-pane fade" id="details" role="tabpanel">
    

<div class="d-flex justify-content-center">
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#detailsS9" role="tab">S9+</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#detailsS9Pluse" role="tab">s9</a>
  </li>

</ul>
</div>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="detailsS9" role="tabpanel">
    <div class="d-flex justify-content-center container text-center">  برای دیدن مشخصات فنی کلیک کنید

</div>
   
         <div class="d-flex justify-content-center mt-3">
          <a href="{% url 'Detailss9LowSpeed' %}" class="btn-info btn"> ادامه</a></div>

  </nav>
  </div>
  <div class="tab-pane" id="detailsS9Pluse" role="tabpanel">
<div class="d-flex justify-content-center container text-center">   برای دیدن مشخصات فنی کلیک کنید
</div>
        <div class="d-flex justify-content-center mt-3">
          <a href="{% url 'Details9plusLowSpeed' %}" class="btn-info btn"> ادامه</a></div>
  </div>
<div class="d-flex justify-content-center container">
  
</div>
</div>


  </div>
</div>
</div>  </div> 





{% endblock %}
{% block script %}
<script type="text/javascript">
  $('#body').addClass("bg-inverse");
</script>
{% endblock %}