{% extends "base.html" %}
{% block header %}
{% load static %}
                                 <a href="{% url 'home' %}" class="link">صفحه اصلی</a>

{% endblock %}
{% block headerFirstPart %}
<div class="dropdown">
  <a href="{% url 'home' %}" class="dropbtn link">صفحه اصلی</a>
</div>
        {% endblock %}
{% block content %}
<div class="container text-right my-5">
	<h3>درباره مایکروتل پلاس</h3>
	<p>مایکروتل پلاس، قطب توانمند شرکت پارس مایکروتل، تاثیرگذارترین مجموعه زنجیره ای در بازار موبایل و تبلت ایران است.مایکروتل پلاس با دارا بودن فروشگاه های مدرن در سراسر ایران، به عنوان اولین و بزرگترین شرکت زنجیره ای عرضه کننده تلفن های هوشمند و تبلت با گارانتی پارس مایکروتل در کشور شناخته می شود. </p>
	<h3>فعالیتهای شرکت مایکروتل پلاس
</h3>
<p>سایت اختصاصی فروش آنلاین <br>
فروشگاه های زنجیره ای و خدمات فروش به همکار در سراسر کشور <br>
امتیازات ویژه برای اعضاء باشگاه مشتریان</p>
<p>مجموعه مایکروتل پلاس از بدو ایجاد موفق شده است تا فروشگاه های خود را گسترش دهد. گسترش فروشگاه ها در سراسر ایران باعث توزیع یکسان خدمات و دسترسی آسان و هماهنگ به امکانات این مجموعه برای تمامی مشتریان خواهد بود.</p>
<p>تمامی کالاهای عرضه شده در مایکروتل پلاس در سراسر کشور قیمتی واحد دارند و این بدان معناست که در هر کجای ایران که باشید، قیمت کالاهای مایکروتل پلاس تفاوتی نمی کند و خریداران گرامی می توانند با آسودگی خاطر اقدام به خرید نمایند.</p>
<p>ما فقط تلفن همراه نمی فروشیم. ما به شما تجربه ای فراموش نشدنی عرضه می کنیم که علاقه مند به تکرار آن خواهید بود.

</p>
<h3 class="">سایت مایکروتل :<a href="http://mtplus.ir" target="blank">کلیک کنید</a></h3>
<p></p>
<h3 class="">از کجا بخریم؟</h3>
<h4 class="d-flex justify-content-center">فروشگاه های مایکروتل پلاس</h4>





<!-- Nav tabs -->
<ul class="nav nav-tabs d-flex justify-content-center" role="tablist">

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#two" role="tab">اینترنتی</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#three" role="tab">حضوری</a>
  </li>

</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane fade " id="two" role="tabpanel">
    <div class="row my-5">
      <div class="col-md-4 col-12 align-self-center d-flex justify-content-center">
        <a href="https://www.digikala.com/search/category-mobile-phone?brand[0]=18">
          <img src="{% static 'pixel-perfect-final-v02-01 (1).png' %}" alt="sample5" />

          </a>

      </div>
            <div class="col-md-4 col-12 align-self-center d-flex justify-content-center">
        <a href="https://www.zanbil.ir/browse/cell-phone">
          <img src="{% static 'naball_zanbil.jpg' %}" alt="sample5" />

          </a>

      </div>
       <div class="col-md-4 col-12 align-self-center d-flex justify-content-center">
        <a href="http://www.bamilo.com/smartphone_tablet_mobile/samsung/?source=gfm">
          <img src="{% static 'bamilo-logo.png' %}" alt="sample5" />

          </a>

      </div>
    </div>
  </div>
  <div class="tab-pane fade show active" id="three" role="tabpanel">

<div class="d-flex justify-content-center row">
  <a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D8%A8%D8%A7%D8%B2%D8%A7%D8%B1-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-1">
  <div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 yellow">
  <figcaption>
    <h2> <span>فروشگاه بازار موبایل 1</span></h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static 'photo_2015-07-06_12-52-09-480x270.jpg' %}" alt="sample5" />
</figure></div>
</a>
<a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D8%B3%D8%A7%D9%85%D8%B3%D9%88%D9%86%DA%AF"><div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 blue">
  <figcaption>
    <h2> <span>فروشگاه سامسونگ</span></h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static '20150704_092139-480x360.jpg' %}"   alt="sample6" />
</figure></div></a><a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%DA%86%D8%A7%D8%B1%D8%B3%D9%88"><div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 red">
  <figcaption>
    <h2> <span> فروشگاه چارسو</span> </h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static 'charsoo-6-480x360.jpg' %}" alt="sample7" />
</figure></div></a></div>


<div class="d-flex justify-content-center row">
  <a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D8%B3%D9%88%D9%86%DB%8C">
  <div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 yellow">
  <figcaption>
    <h2> <span>فروشگاه 419</span></h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static 'photo_2015-04-18_09-09-58-480x360.jpg' %}" alt="sample5" />
</figure></div>
</a>
<a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%DA%A9%D8%B1%D8%AC"><div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 blue">
  <figcaption>
    <h2> <span>فروشگاه کرج</span></h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static '1-480x270.jpg' %}"   alt="sample6" />
</figure></div></a><a href="http://mtplus.ir/?portfolio=curabitur-laoreet-mattis-32"><div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 red">
  <figcaption>
    <h2> <span> فروشگاه آرش
</span> </h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static 'charsoo-6-480x360.jpg' %}" alt="sample7" />
</figure></div></a></div>


    <div class="d-flex justify-content-center row">
	<a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%DB%8C%D8%B2%D8%AF-2">
	<div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 yellow">
  <figcaption>
    <h2> <span>فروشگاه یزد</span></h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static 'photo_2015-08-08_13-40-14-480x360.jpg' %}" alt="sample5" />
</figure></div>
</a>
<a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D8%A7%D9%87%D9%88%D8%A7%D8%B2"><div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 blue">
  <figcaption>
    <h2> <span>فروشگاه اهواز  </span></h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static '20150704_092139-480x360.jpg' %}"   alt="sample6" />
</figure></div></a><a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D9%BE%DB%8C%D8%B1%D9%88%D8%B2%DB%8C"><div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 red">
  <figcaption>
    <h2> <span> فروشگاه پیروزی</span> </h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static '0010.jpg' %}" alt="sample7" />
</figure></div></a></div>





<div class="d-flex justify-content-center row">
	<a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%DA%A9%D8%B1%D8%AC-2">
	<div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 yellow">
  <figcaption>
    <h2> <span>فروشگاه کرج</span></h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static 'karaj-store1-480x270.jpg' %}" alt="sample5" />
</figure></div>
</a>
<a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D8%A8%D8%A7%D8%B2%D8%A7%D8%B1-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84-2"><div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 blue">
  <figcaption>
    <h2> <span>فروشگاه بازار موبایل 2 </span></h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static 'microtel-yaftabad-480x360.jpg' %}"   alt="sample6" />
</figure></div></a><a href="http://mtplus.ir/?portfolio=%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D8%B4%D9%85%D8%B1%D9%88%D9%86"><div class="col-md-4 col-12 d-flex justify-content-center">
<figure class="snip0053 red">
  <figcaption>
    <h2> <span>فروشگاه شمرون</span> </h2>
    <div class="icons">
      <a href="#"><i class="ion-ios-home"></i></a>
      <a href="#"><i class="ion-ios-email"></i></a>
      <a href="#"><i class="ion-ios-telephone"></i></a>
    </div>
  </figcaption>
  <img src="{% static 'photo_2015-07-22_15-14-23-480x270.jpg' %}" alt="sample7" />
</figure></div></a></div>
</div></div>




{% endblock %}