{% extends "site_base.html" %}
{%block content%}
 
     {% for obj in object_list %}
    <div class="news-Back-Color" style="overflow-x: hidden">
        <div class="row">
            <div class="p-sm-5 col-12 col-sm-6  align-self-center">
        <img src= "{{obj.thumbnail.url}}"  width="100%"/>
                <div class="justify-content-between d-flex">
                    <div class="">{{obj.author}}</div>
                    <div class="">{{obj.createdDate}}</div>
                </div>
            </div>
            <div class="p-5 col-12 col-sm-6" style="direction: rtl;">
                <h3 class="">{{obj.title}}</h3>
                <h5 class="">{{obj.get_summary_text}}</h5>
            </div>
        </div>
        <div class="float-right" style="bottom: 50px">
        	<a href="/showDetailsNews/{{obj.pk}}/" class="mr-5 badge badge-pill badge-info"> <h4>ادامه مطلب<h3></a>
        </div>
    </div>
    <div class="seprator my-2" style="height: 50px">
    </div>
    {% endfor %}

    {% endblock %}