{% extends "site_base.html" %}
{%block content%}

<style type="text/css">
    .news-detail-back-color{
      background: #70e1f5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    @media (min-width: 576px) {
  .jumbotron-sm-up {
      padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #eceeef;
  border-radius: 0.3rem;
  }
</style>
 
    <div style="overflow-x:hidden">
        <div class="justify-content-between row  px-sm-2 " >
            <div class="col-3 align-self-center hidden-xs-down">
                               {% load static %} <img src="{% static 'images.png' %}" width="100%" />

            </div>
            <div class="col-12 col-sm-6">
                                <img src="{{object.image.url}}" width="100%" />
            </div>
            <div class="col-3 align-self-center  hidden-xs-down">
                               {% load static %} <img src="{% static 'ProgrammingHub-Logo.png' %}" width="100%" />
            </div>
        </div>
        <div class="container news-detail-back-color p-2 jumbotron-fluid jumbotron-sm-up">
           <div class="justify-content-center d-flex ">
          <h1 class=""> {{object.title}}</h1>
           </div>
            <div class="justify-content-center d-flex p-5" style="direction: rtl;">
               {{object.context}}
            </div>
            <div class="justify-content-between d-flex w-100 ">
                <div class="">{{object.createdDate}}</div>
                <div class="">{{object.author}}</div>
            </div>
        </div>
    </div>
    {% endblock %}