{% extends "site_base.html" %}
{%block content%}

<div class="row p-sm-2">
{% for obj in object_list %}
  <div class="col-sm-4 col-12 my-2 ">

<a href="/uiaiByYearSemester/{{obj}}">
  <div class="card card-inverse ">
  {% load static %} 
  {% if forloop.counter|divisibleby:'3' %}
<img src="{% static 'artificial-intelligence-800x600.jpg'%}" width="100%" style="  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);"/>
{% elif forloop.counter|divisibleby:'2' %}
<img src="{% static '500569670-800x600.jpg' %}" width="100%" style="  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);"/>
{% else %}
<img src="{% static '760-strong-general-artificial-intelligence-ai.jpg' %}" width="100%" style="  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);"/>
{% endif %}
  <div class="card-img-overlay  justify-content-center row">
    <h1 class="card-title d-flex align-self-center">{{obj}}</h1>
  </div>
</div>
</a>  </div>
{% endfor %}
</div>


{% endblock %}