{% extends "site_base.html" %}
{%block content%}


 <div class="justify-content-between row  px-2" >
            <div class="col-3 align-self-center hidden-xs-down">
                              {% load static %} <img src="{% static 'lenguajes-programacion.png' %}" width="100%" />
            </div>
            <div class="col-12 col-sm-6 justify-content-center d-flex p-5" style="direction: rtl;">
                       {% for obj in UiaiContext %}         {{obj.context}}{% endfor %}
            </div>
            <div class="col-3 align-self-center  hidden-xs-down">
                               {% load static %} <img src="{% static 'programmer.png' %}" width="100%" />
            </div>
        </div>

<div style="height:10vh" class="seprator"></div>

<div style="overflow-x: hidden;">
<div class="row container-fluid" >
	{% for obj in uiaiImage %}
	<div class="col-sm-4 col-12 my-2">
		<img src="{{obj.image.url}}" width="100%">
	</div>
	{% endfor %}
</div>
{% if uiaiFiles %}
<div style="height:10vh" class="seprator"></div>

<div class="container">
 <table class="table table-responsive table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>File</th>
      <th>File Size</th>
    </tr>
  </thead>
  <tbody>
        {% for obj in uiaiFiles %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href="{{obj.file.url}}" download="{{obj.file}}">{{obj.name}}</a></td>
      <td>{{obj.file.size|filesizeformat}}</td>
    </tr>
                        {% endfor %}
  </tbody>
</table>
</div>
{% endif %}
</div>
{% endblock %}